<!DOCTYPE html> 
<html ng-app="app">
 <head> 
	<title>Comparador</title> 

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="src/jquery.mobile-1.4.2.min.css" />
	<script src="src/jquery-1.11.0.min.js"></script>
	<script src="src/jquery.mobile-1.4.2.min.js"></script>
     
    <script src="src/angular.min.js"></script>
    <script src="src/angular-cookies.js"></script>
    <script src="src/exato.js"></script>
    <script src="src/angular-input-masks.min.js"></script>
     
</head> 

<body> 
	<div data-role="page"> 
		<div data-role="header" style="text-align:center;"> 
	    <img src="img/logo.png" style="width:70%; margin:5px 0"> </div> 
		<div data-role="content" ng-controller="ExatoCtrl" > 	 
            
            <form ng-submit="addItem()">
                
                
            <div class="ui-grid-b" ng-repeat="item in itens" style="border-radius:7px; margin-bottom:10px;">
  
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar-a" style="height:60px;text-align:center;">
                        <label for="text-1" >Qtd</label>
                        <input ng-model="item.unidade" type="text" pattern="[0-9]*" name="text-1"  id="text-1" value="0" ui-number-mask="0" style="text-align:center;">
                    </div>
                </div>

                <div class="ui-block-c">
                    <div class="ui-bar ui-bar-a" style="height:60px;text-align:center;">
                        <label for="text-3">Valor</label>
                        <input type="text" ng-model="item.undValor" pattern="[0-9]*" name="text-3" id="text-3" value="0" style="text-align:center;" ui-number-mask>
                    </div>
                </div>

                <div class="ui-block-b">
                    <div class="ui-bar ui-bar-a" style="height:60px;text-align:center;">
                        <label for="text-1">R$/Qtd</label>
                        <label for="text-1" ngMaxlength=4 ng-if="mostrar(item)" ng-style="{'color': myColor}" style="margin-top:14px; font-size:130%">{{ item.undValor/item.unidade | number:4}}</label>
                      
                    </div>
                </div>
            </div>
            
            
             <button type="button" ng-click="limpar()" > limpar </button>
             <button type="submit" > add </button>
             
             

            </form>
            <div style="clear:both"></div>
            <div style="font-size:11px; margin:8px 0 0px; text-align:center;">vers&atilde;o 001</div>
        </div> 
	</div> 

	


</body> 
</html>
